<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mappingService" class="chess.core.mapping.MappingService"/>

    <bean id="apiRequestVerifyConfig" class="chess.core.api.controller.ApiRequestVerifyConfig">
        <property name="key" value="${apiRequestVerifyConfig.key}"/>
        <property name="secret" value="${apiRequestVerifyConfig.secret}"/>
    </bean>

    <bean id="landlordsTcpService" class="chess.game.landlords.listener.LandlordsTcpService"/>
    <bean id="landlordsStart" class="chess.game.landlords.listener.StartLandlords" init-method="start"
          destroy-method="stop"/>

    <bean id="threeCardTcpService" class="chess.game.threecard.listener.ThreeCardTcpService"/>
    <bean id="threecard" class="chess.game.threecard.listener.StartGame" init-method="start"
          destroy-method="stop"/>


    <bean id="bullfightTcpService" class="chess.game.bullfight.listener.BullfightTcpService"/>
    <bean id="bullfightStart" class="chess.game.bullfight.listener.StartBullfight" init-method="start"
          destroy-method="stop"/>

</beans>